---
import Layout from "@layouts/layout.astro";
import { Img } from "astro-imagetools/components";
import { getCollection } from "astro:content";
import { utilRemoveTrailSlash } from "src/utils/commonUtils";

const tripsCollection = await getCollection("trips");

const { pathname } = Astro.url;
const fixedPathname = utilRemoveTrailSlash(pathname);
---

<Layout>
  <!-- Hero Section -->
  <section class="bg-white relative overflow-hidden">
    <!-- Background -->
    <div class="absolute top-0 left-0 w-full h-full">
      <Img src="/images/trips/hero-bg.jpeg" alt="" />
      <div class="bg-white absolute h-full w-full top-0 left-0 opacity-75">
      </div>
    </div>

    <article
      class="relative h-[70vh] flex flex-col justify-center max-h-[600px] max-w-xl text-center mx-auto px-4 lg:px-8"
    >
      <header>
        <h1 class="text-7xl font-alex">Day Trips Title</h1>
      </header>
      <p class="text-xl text-gray-900">
        Explore the Wonders Beyond Manila: A Guide to the Best Day Trips and
        Getaways from the Bustling Metropolis
      </p>
    </article>
  </section>

  {
    tripsCollection.map((trip, index) => {
      if (index % 4 === 0 || index % 4 === 3) {
        return (
          <section class="py-8 max-w-7xl mx-auto px-4 lg:px-8">
            <figure
              class={`flex items-center ${
                index % 2 === 0 ? "flex-row-reverse" : ""
              }`}
            >
              <div class="w-2/3 p-2 flex">
                <div class="w-1/2">
                  <div class="relative pb-[130%]">
                    <div class="absolute top-0 left-0 h-full w-full p-1">
                      <Img
                        src={trip.data.images[0] ?? "/images/trips/hero-bg.jpg"}
                        alt={trip.data.title}
                      />
                    </div>
                  </div>
                </div>
                <div class="w-1/2">
                  <div class="relative pb-[65%]">
                    <div class="absolute top-0 left-0 h-full w-full p-1">
                      <Img
                        src={trip.data.images[1] ?? "/images/trips/hero-bg.jpg"}
                        alt={trip.data.title}
                      />
                    </div>
                  </div>
                  <div class="relative pb-[65%]">
                    <div class="absolute top-0 left-0 h-full w-full p-1">
                      <Img
                        src={trip.data.images[2] ?? "/images/trips/hero-bg.jpg"}
                        alt={trip.data.title}
                      />
                    </div>
                  </div>
                </div>
              </div>
              <figcaption class="w-1/3 p-2 flex justify-center flex-col">
                <header>
                  <h1 class="font-alex text-5xl lg:text-6xl">
                    {trip.data.title}
                  </h1>
                </header>
                <p>{trip.data.summary}</p>
                <a
                  href={`${fixedPathname}/${trip.slug}`}
                  class="px-8 mt-8 w-fit py-2 bg-blue-400"
                >
                  View More
                </a>
              </figcaption>
            </figure>
          </section>
        );
      }
      return (
        <section class="py-8 max-w-7xl mx-auto px-4 lg:px-8">
          <figure
            class={`flex items-center ${
              index % 2 === 0 ? "flex-row-reverse" : ""
            }`}
          >
            <div class="w-1/3 p-2">
              <div class="relative pb-[125%]">
                <div class="absolute top-0 left-0 h-full w-full">
                  <Img
                    src={trip.data.images[0] ?? "/images/trips/hero-bg.jpg"}
                    alt={trip.data.title}
                  />
                </div>
              </div>
            </div>
            <figcaption class="w-2/3 p-2 flex justify-center flex-col">
              <header>
                <h1 class="font-alex text-5xl lg:text-6xl">
                  {trip.data.title}
                </h1>
              </header>
              <p>{trip.data.summary}</p>

              <div class="h-40 flex my-8 justify-around">
                <div class="w-2/5">
                  <Img
                    src={trip.data.images[1] ?? "/images/trips/hero-bg.jpg"}
                    alt={trip.data.title}
                  />
                </div>
                <div class="w-2/5">
                  <Img
                    src={trip.data.images[2] ?? "/images/trips/hero-bg.jpg"}
                    alt={trip.data.title}
                  />
                </div>
              </div>

              <a
                href={`${fixedPathname}/${trip.slug}`}
                class="px-8 mx-auto w-fit py-2 bg-blue-400"
              >
                View More
              </a>
            </figcaption>
          </figure>
        </section>
      );
    })
  }
</Layout>
