---
import Layout from "@layouts/layout.astro";
import { Img, Picture } from "astro-imagetools/components";
import { getCollection } from "astro:content";
import { utilRemoveTrailSlash } from "src/utils/commonUtils";

const eventsCollection = await getCollection("events");

eventsCollection.sort((a, b) => {
  return new Date(a.data.date).getTime() - new Date(b.data.date).getTime();
});

const featuredEvent = eventsCollection[0];

const { pathname } = Astro.url;
const fixedPathname = utilRemoveTrailSlash(pathname);
---

<Layout>
  <!-- Hero -->
  <section class="relative">
    <!-- Background -->
    <div class="absolute top-0 left-0 h-full w-full blur-sm">
      <Img src={"/images/events/hero-bg.jpg"} alt="" />
      <div class="absolute w-full h-full top-0 left-0 opacity-75 bg-white">
      </div>
    </div>

    <!-- Content -->
    <figure
      class="relative h-[70vh] max-h-[600px] overflow-hidden items-center container mx-auto px-4 md:flex-row-reverse md:flex lg:px-8"
    >
      <div
        class="w-full relative shadow-xl rounded-xl overflow-hidden pb-[56%] md:w-1/2 lg:pb-[30%]"
      >
        <div class="absolute left-0 top-0 w-full h-full">
          <Img src={"/images/events/hero-bg.jpg"} alt={"Festival"} />
        </div>
      </div>

      <figcaption class="w-full py-8 md:w-1/2 lg:px-8">
        <header>
          <h1 class="font-alex text-7xl">Events and Festivals</h1>
        </header>
        <p class="line-clamp-3 text-xl">
          Experience the Colorful and Joyous Celebrations of the Philippines: A
          Guide to the Country's Most Vibrant Events and Festivals
        </p>
      </figcaption>
    </figure>
  </section>

  <h2 class="text-center bg-blue-100 font-alex text-6xl py-8">
    Events and Festivals Timeline
  </h2>

  <!-- Timeline -->
  <section class="container mx-auto px-4 lg:px-8">
    <section class="relative">
      <!-- Middle line -->
      <div
        class="bg-blue-900 rounded-full w-1 absolute h-full top-0 left-1/2 -translate-x-1/2"
      >
      </div>

      <ul>
        {
          eventsCollection.map((item, index) => {
            return (
              <li class={`p-2 relative ${index % 2 === 0 ? "text-right" : ""}`}>
                <div
                  class={`bg-blue-900 w-6 absolute h-6 rounded-full top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2`}
                />
                <figure
                  class={`flex items-center ${
                    index % 2 === 0 ? "flex-row-reverse" : ""
                  }`}
                >
                  <div class="w-1/2 p-8">
                    <div class="relative pb-[56%] rounded-xl overflow-hidden">
                      <div class="absolute top-0 left-0 h-full w-full">
                        <Picture
                          src={item.data.featuredImage}
                          alt={item.data.title}
                        />
                      </div>
                    </div>
                  </div>

                  <figcaption class="p-8 w-1/2">
                    <header>
                      <p class="font-medium">
                        {new Intl.DateTimeFormat("en-US", {
                          dateStyle: "full",
                        }).format(item.data.date)}
                      </p>
                      <h2 class="text-5xl font-alex">{item.data.title}</h2>
                      <p class="font-medium">{item.data.location}</p>
                    </header>
                    <p class="mt-4">{item.data.summary}</p>
                    <a
                      href={`${fixedPathname}/${item.slug}`}
                      class={`px-4 py-1 bg-blue-500 rounded-md mt-4 block w-fit text-white ${
                        index % 2 === 0 ? "ml-auto" : ""
                      }`}
                    >
                      Read more
                    </a>
                  </figcaption>
                </figure>
              </li>
            );
          })
        }
      </ul>
    </section>
  </section>
</Layout>
