---
import Layout from "@layouts/layout.astro";
import { Img } from "astro-imagetools/components";
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import { utilRemoveTrailSlash } from "src/utils/commonUtils";

const foodsCollection = await getCollection("foods-and-drinks");

const { pathname } = Astro.url;
const fixedPathname = utilRemoveTrailSlash(pathname);
---

<Layout>
  <!-- Hero Section -->
  <section class="bg-white relative overflow-hidden">
    <!-- Background -->
    <div class="absolute top-0 left-0 w-full h-full blur-sm">
      <Img src="/images/foods-and-drinks/hero-bg.jpg" alt="" />
      <div class="bg-white absolute h-full w-full top-0 left-0 opacity-70">
      </div>
    </div>

    <!-- Content -->
    <figure
      class="relative flex flex-wrap min-h-[70vh] max-h-[600px] items-center container mx-auto px-4 overflow-visible lg:px-8"
    >
      <figcaption class="relative z-[1] w-full md:w-3/4 lg:mx-auto lg:w-2/5">
        <header>
          <h1 class="text-7xl font-alex">Satisfy Your Cravings</h1>
        </header>
        <p class="text-xl">
          Embark on a Gastronomic Adventure through Manila's Vibrant Food and
          Drink Scene, from Savory Street Food Delights to World-Class Fine
          Dining Feasts
        </p>
      </figcaption>
      <div
        class="flex absolute left-1/4 top-1/4 w-4/5 md:left-1/2 md:w-3/5 lg:static lg:w-2/5"
      >
        <div class="w-1/3 pt-64">
          <div class="p-2">
            <div
              class="relative pb-[125%] rounded-xl shadow-xl overflow-hidden"
            >
              <div class="absolute top-0 left-0 h-full w-full">
                <Img src="/images/foods-and-drinks/food5.jpeg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="w-1/3 pt-32">
          <div class="p-2">
            <div
              class="relative pb-[125%] rounded-xl shadow-xl overflow-hidden"
            >
              <div class="absolute top-0 left-0 h-full w-full">
                <Img src="/images/foods-and-drinks/food1.jpeg" alt="" />
              </div>
            </div>
          </div>
          <div class="p-2">
            <div
              class="relative pb-[125%] rounded-xl shadow-xl overflow-hidden"
            >
              <div class="absolute top-0 left-0 h-full w-full">
                <Img src="/images/foods-and-drinks/food2.jpeg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="w-1/3">
          <div class="p-2">
            <div
              class="relative pb-[125%] rounded-xl shadow-xl overflow-hidden"
            >
              <div class="absolute top-0 left-0 h-full w-full">
                <Img src="/images/foods-and-drinks/food3.jpeg" alt="" />
              </div>
            </div>
          </div>
          <div class="p-2">
            <div
              class="relative pb-[125%] rounded-xl shadow-xl overflow-hidden"
            >
              <div class="absolute top-0 left-0 h-full w-full">
                <Img src="/images/foods-and-drinks/food4.jpeg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </section>

  <!-- Manila's Chinatown Section -->
  <section>
    <header class="bg-blue-100 pt-8 pb-20 relative">
      <div class="absolute top-0 left-0 w-full h-full bg-blue-100">
        <Img src="/images/foods-and-drinks/binondo.jpeg" alt="Binondo" />
        <div class="bg-black bg-opacity-50 absolute top-0 left-0 w-full h-full">
        </div>
      </div>
      <section class="max-w-7xl w-full mx-auto px-4 text-white lg:px-8">
        <h1 class="relative text-6xl font-alex">
          Flavors of Manila's Chinatown
        </h1>
        <p class="relative">
          Binondo, also known as Manila's Chinatown, is a haven for foodies who
          are looking for a unique and exciting culinary experience.
        </p>
      </section>
    </header>
    <ul class="max-w-7xl pb-16 mx-auto px-4 flex flex-wrap -mt-16 lg:px-8">
      {
        [...foodsCollection]
          .filter((place) => place.data.categories.includes("binondo"))
          .splice(0, 3)
          .map((item, index) => {
            return (
              <li class="p-2 w-full md:w-1/3">
                <a href={`${fixedPathname}/${item.slug}`}>
                  <figure class="shadow-xl border relative bg-white border-black rounded-xl overflow-hidden group">
                    <div class="relative pb-[70%]">
                      <div class="absolute top-0 left-0 h-full w-full duration-500 group-hover:scale-110">
                        <Img src={item.data.featuredImage} alt="" />
                      </div>
                      <div class="absolute bottom-0 bg-gradient-to-t h-1/3 opacity-75 from-black to-transparent w-full" />
                    </div>
                    <figcaption class="py-1 absolute bottom-0 px-4 text-white">
                      <header>
                        <h2 class="text-xl">{item.data.title}</h2>
                      </header>
                      <div class="flex items-center">
                        <Icon class="w-6 h-6" name="ic:round-location-on" />
                        <p class="text-sm font-medium">{item.data.location}</p>
                      </div>
                    </figcaption>
                  </figure>
                </a>
              </li>
            );
          })
      }
    </ul>
  </section>

  <!-- Drinks Section -->
  <section>
    <section class="bg-blue-100 pt-8 pb-20 relative">
      <header class="absolute top-0 left-0 w-full h-full bg-blue-100">
        <Img src="/images/foods-and-drinks/drinks.jpeg" alt="Binondo" />
        <div class="bg-black bg-opacity-50 absolute top-0 left-0 w-full h-full">
        </div>
      </header>
      <section class="max-w-7xl w-full mx-auto px-4 text-white lg:px-8">
        <h1 class="relative text-6xl font-alex">Sip and Savor</h1>
        <p class="relative">
          Get ready to indulge in the vibrant nightlife of Metro Manila and
          experience the best drinks and bars in the city.
        </p>
      </section>
    </section>
    <ul class="max-w-7xl pb-16 mx-auto px-4 flex flex-wrap -mt-16 lg:px-8">
      {
        [...foodsCollection]
          .filter((place) => place.data.categories.includes("drinks"))
          .splice(0, 3)
          .map((item, index) => {
            return (
              <li class="p-2 w-full md:w-1/3">
                <a href={`${fixedPathname}/${item.slug}`}>
                  <figure class="shadow-xl border relative bg-white border-black rounded-xl overflow-hidden group">
                    <div class="relative pb-[70%]">
                      <div class="absolute top-0 left-0 h-full w-full duration-500 group-hover:scale-110">
                        <Img src={item.data.featuredImage} alt="" />
                      </div>
                      <div class="absolute bottom-0 bg-gradient-to-t h-1/3 opacity-75 from-black to-transparent w-full" />
                    </div>
                    <figcaption class="py-1 absolute bottom-0 px-4 text-white">
                      <header>
                        <h2 class="text-xl">{item.data.title}</h2>
                      </header>
                      <div class="flex items-center">
                        <Icon class="w-6 h-6" name="ic:round-location-on" />
                        <p class="text-sm font-medium">{item.data.location}</p>
                      </div>
                    </figcaption>
                  </figure>
                </a>
              </li>
            );
          })
      }
    </ul>
  </section>

  <!-- Street Foods Section -->
  <section>
    <header class="bg-blue-100 pt-8 pb-20 relative">
      <div class="absolute top-0 left-0 w-full h-full bg-blue-100">
        <Img
          src="/images/foods-and-drinks/street-food.webp"
          alt="Street Food"
        />
        <div class="bg-black bg-opacity-50 absolute top-0 left-0 w-full h-full">
        </div>
      </div>
      <section class="max-w-7xl w-full mx-auto px-4 text-white lg:px-8">
        <h1 class="relative text-6xl font-alex">Street Foods of Manila</h1>
        <p class="relative">
          Savor the rich and diverse gastronomic selection that the city has to
          offer, from the savory pork skewers to the sweet and sticky rice
          cakes.
        </p>
      </section>
    </header>
    <ul class="max-w-7xl pb-16 mx-auto px-4 flex flex-wrap -mt-16 lg:px-8">
      {
        [...foodsCollection]
          .filter((place) => place.data.categories.includes("street-food"))
          .splice(0, 3)
          .map((item, index) => {
            return (
              <li class="p-2 w-full md:w-1/3">
                <a href={`${fixedPathname}/${item.slug}`}>
                  <figure class="shadow-xl border relative bg-white border-black rounded-xl overflow-hidden group">
                    <div class="relative pb-[70%]">
                      <div class="absolute top-0 left-0 h-full w-full duration-500 group-hover:scale-110">
                        <Img src={item.data.featuredImage} alt="" />
                      </div>
                      <div class="absolute bottom-0 bg-gradient-to-t h-1/3 opacity-75 from-black to-transparent w-full" />
                    </div>
                    <figcaption class="py-1 absolute bottom-0 px-4 text-white">
                      <header>
                        <h2 class="text-xl">{item.data.title}</h2>
                      </header>
                      <div class="flex items-center">
                        <Icon class="w-6 h-6" name="ic:round-location-on" />
                        <p class="text-sm font-medium">{item.data.location}</p>
                      </div>
                    </figcaption>
                  </figure>
                </a>
              </li>
            );
          })
      }
    </ul>
  </section>
</Layout>
