---
import Layout from "@layouts/layout.astro";
import { Img } from "astro-imagetools/components";
import { getCollection } from "astro:content";

const placesCollection = await getCollection("places");
const tripsCollection = await getCollection("trips");
const eventsCollection = await getCollection("events");
const event1 = eventsCollection[2];
const event2 = eventsCollection[4];
---

<Layout>
  <!-- Hero Section -->
  <section
    class="h-screen relative max-h-[600px] overflow-hidden rounded-b-[2rem] lg:rounded-b-[4rem] lg:max-h-[700px]"
  >
    <!-- Background Image -->
    <Img
      breakpoints={[320, 768, 1024]}
      objectPosition="50% 75%"
      src="/images/hero-bg.jpg"
      alt=""
    />

    <div
      class="bg-gradient-to-b from-bg1 via-transparent to-black absolute top-0 left-0 h-full w-full"
    >
    </div>

    <div class="absolute px-8 bottom-1/2 translate-y-1/2 w-full">
      <div class="container mx-auto lg:px-8">
        <h2
          class="text-white font-play font-bold max-w-2xl text-4xl md:text-5xl lg:text-6xl"
        >
          Unlock the Secrets of Metro Manila: Your Ultimate Tourist Guide
        </h2>
        <p class="text-xl text-white max-w-3xl mt-4">
          Dive deep into the hidden gems and insider tips of Metro Manila, the
          vibrant capital of the Philippines, with our comprehensive tourist
          guide.
        </p>
      </div>
    </div>
  </section>

  <!-- Places to Visit -->
  <section id="places-to-visit" class="pb-16">
    <!-- Container -->
    <section class="relative container mx-auto">
      <!-- Header -->
      <header class="px-4 mt-16 my-16">
        <h2
          class="text-c1 font-bold font-play relative z-[1] text-center text-3xl md:text-4xl lg:text-5xl"
        >
          Explore Destinations
        </h2>
        <p class="text-center text-xl font-medium text-c2 mt-4">
          Uncover breathtaking places that will leave you in awe
        </p>
      </header>

      <!-- Content -->
      <section class="flex flex-wrap container mx-auto px-4 lg:px-8">
        {
          [...placesCollection].splice(0, 2).map((place) => {
            return (
              <article class="p-2 flex w-full group md:w-1/2 xl:w-1/4">
                <a href={`/places/${place.slug}`} class="w-full flex">
                  <figure class="relative flex items-end w-full overflow-hidden p-1 pt-16 rounded-2xl duration-300 md:pt-16 lg:pt-32 group-hover:shadow-c3 group-hover:shadow-[0_0_0_5px]">
                    <div class="absolute top-0 left-0 h-full w-full duration-300 group-hover:scale-110">
                      <div class="absolute top-0 left-0 h-full w-full bg-gradient-to-b from-transparent to-black opacity-25" />
                      <Img src={place.data.featuredImage} alt="" />
                    </div>
                    <figcaption class="relative p-4 text-white">
                      <header>
                        <h3 class="text-3xl font-play font-bold">
                          {place.data.title}
                        </h3>
                      </header>
                    </figcaption>
                  </figure>
                </a>
              </article>
            );
          })
        }

        <!-- View More -->
        <article class="p-2 flex w-full group xl:w-1/2">
          <a href="/places" class="w-full flex">
            <figure
              class="relative flex w-full overflow-hidden p-4 pt-16 rounded-2xl duration-300 md:pt-16 md:p-8 lg:pt-32 group-hover:shadow-c3 group-hover:shadow-[0_0_0_5px]"
            >
              <!-- Banner -->
              <div
                class="absolute top-0 left-0 h-full w-full duration-300 group-hover:scale-110"
              >
                <div
                  class="absolute top-0 left-0 h-full w-full bg-gradient-to-b from-c1 via-black to-black opacity-50"
                >
                </div>
                <Img src="/images/places/rizal-park.png" alt="" />
              </div>
              <figcaption class="relative text-white">
                <header>
                  <h3 class="text-3xl font-play font-bold">
                    Ready to Explore?
                  </h3>
                </header>
                <p class="text-lg mt-4">
                  Plan your next adventure and experience these incredible
                  destinations for yourself!
                </p>
              </figcaption>
            </figure></a
          >
        </article>
      </section>
    </section>
  </section>

  <!-- Event & Festivals Section -->
  <section id="events-and-festivals" class="bg-bg1 py-16">
    <header>
      <h2
        class="font-play font-bold text-t2 text-3xl text-center md:text-4xl lg:text-5xl"
      >
        Events and Festivals
      </h2>
    </header>
    <section class="flex flex-wrap container mx-auto mt-8 px-4 lg:px-8">
      <!-- Left -->
      <section class="flex w-full lg:w-1/2">
        <!-- Left -->
        <div class="flex flex-col md:w-1/2">
          <div class="p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img
                  breakpoints={[320, 768]}
                  src={event1.data.images[0]}
                  alt="test"
                />
              </div>
            </div>
          </div>
          <div class="p-8 border-x border-dashed border-black md:mt-48">
            <header class="space-y-2">
              <h2 class="text-3xl">{event1.data.title}</h2>
              <p class="text-2xl text-end font-alex">
                {
                  new Intl.DateTimeFormat("en", {
                    dateStyle: "medium",
                  }).format(event1.data.date)
                }
              </p>
            </header>
            <p class="line-clamp-6">
              {event1.data.summary}
            </p>
          </div>
        </div>
        <!-- Right -->
        <div class="w-1/2 flex-col justify-around mt-48 hidden md:flex">
          <div class="p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img
                  breakpoints={[320, 768]}
                  src={event1.data.images[1]}
                  alt="test"
                />
              </div>
            </div>
          </div>
          <div class="mt-72 p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img
                  breakpoints={[320, 768]}
                  src={event1.data.images[2]}
                  alt="test"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Right -->
      <section class="flex w-full lg:w-1/2">
        <!-- Left -->
        <div class="flex flex-col md:w-1/2">
          <div class="p-2 hidden md:block">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img
                  breakpoints={[320, 768]}
                  src={event2.data.images[0]}
                  alt="test"
                />
              </div>
            </div>
          </div>
          <figure class="md:mt-48">
            <div class="p-2">
              <div class="pb-[100%] relative overflow-hidden rounded-lg">
                <div class="absolute top-0 w-full h-full">
                  <Img
                    breakpoints={[320, 768]}
                    src={event2.data.images[1]}
                    alt="test"
                  />
                </div>
              </div>
            </div>
            <figcaption class="p-8 border-x border-dashed border-black">
              <header class="space-y-2">
                <h2 class="text-3xl">{event2.data.title}</h2>
                <p class="text-2xl text-end font-alex">
                  {
                    new Intl.DateTimeFormat("en", {
                      dateStyle: "medium",
                    }).format(event2.data.date)
                  }
                </p>
              </header>
              <p class="line-clamp-6">
                {event2.data.summary}
              </p>
            </figcaption>
          </figure>
        </div>

        <!-- Right -->
        <div class="w-1/2 flex-col justify-around mt-48 hidden md:flex">
          <div class="p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img
                  breakpoints={[320, 768]}
                  src={event2.data.images[2]}
                  alt="test"
                />
              </div>
            </div>
          </div>
          <div class="mt-72 p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img
                  breakpoints={[320, 768]}
                  src={event2.data.images[3]}
                  alt="test"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- TODO: Make the foods and drinks section -->

  <!-- Day Trips Section -->
  <section id="day-trips" class="container mx-auto mt-16">
    <header class="relative lg:px-8">
      <!-- background -->
      <div class="h-56 overflow-hidden lg:rounded-3xl">
        <Img breakpoints={[320, 768]} src="/images/day-trips-bg.png" alt="" />
      </div>
      <h1
        class="shadow-xl w-2/ font-bold mx-auto text-center bottom-0 translate-y-1/2 text-t1 bg-bg1 rounded-3xl absolute py-8 left-0 right-0 font-play text:3xl md:text-4xl lg:text-5xl"
      >
        Day Trips
      </h1>
    </header>

    <!-- 1st half -->
    <section class="flex flex-wrap mt-28 px-4 lg:px-8">
      {
        [...tripsCollection].splice(0, 6).map((trip, index) => {
          const { title, summary, featuredImage } = trip.data;
          return (
            <article
              class={`w-full ${
                index % 6 === 0 || index % 6 === 5
                  ? "lg:w-1/2"
                  : "md:w-1/2 lg:w-1/4"
              }`}
            >
              <figure class="px-2">
                <div
                  class={`h-64 ${
                    index % 6 === 0 || index % 6 === 5
                      ? ""
                      : "overflow-hidden md:rounded-t-3xl"
                  }`}
                >
                  <Img
                    breakpoints={[320, 768]}
                    src={featuredImage}
                    alt={title}
                  />
                </div>
                <figcaption class="px-2 w-3/4 mx-auto bg-bg1 relative bottom-10 rounded-t-xl shadow">
                  <header class="border-b border-dashed border-black">
                    <h2
                      title={title}
                      class="text-center font-medium text-xl line-clamp-1"
                    >
                      {title}
                    </h2>
                  </header>
                  <p title={summary} class="p-1 line-clamp-4">
                    {summary}
                  </p>
                </figcaption>
              </figure>
            </article>
          );
        })
      }
    </section>
  </section>

  <!-- Neighborhoods -->
  <section id="neighborhoods" class="mx-auto container mt-8 px-4 lg:px-8">
    <header>
      <h1 class="text-c1 font-bold font-play text-3xl md:text-4xl lg:text-5xl">
        Neighborhoods
      </h1>
    </header>

    <section class="flex mt-4 flex-row-reverse relative flex-wrap">
      <div class="absolute w-full h-full z-[-1]">
        <Img src="/images/neighborhoods-bg.jpg" alt="" />
      </div>

      <section class="w-full md:w-1/2">
        <article class="p-8">
          <p data-neighborhood-summary class="bg-bg1 p-2 text-black rounded-xl">
            Manila is the capital city of the Philippines and is known for its
            rich history, diverse culture, and vibrant atmosphere. It is a
            bustling metropolis that serves as the economic, political, and
            cultural center of the country. Manila is a city that seamlessly
            blends its colonial past with its modern present, resulting in a
            unique blend of old and new. The city boasts of numerous historical
            landmarks, world-class museums, delicious cuisine, exciting
            nightlife, and beautiful parks. With its friendly people and warm
            climate, Manila is a popular destination for tourists from all over
            the world.
          </p>
          <button
            class="mx-auto block w-fit py-2 px-4 mt-2 bg-c2 text-white rounded-md"
          >
            Explore Manila
          </button>
        </article>
      </section>
      <section
        class="flex font-bold text-white bg-gray-500 bg-opacity-50 w-full md:w-1/2"
      >
        <div class="relative pb-[125%] border w-full">
          <div id="map" class="absolute w-full h-full"></div>
        </div>
      </section>
    </section>
  </section>
</Layout>

<script>
  import L from "leaflet";
  import "leaflet/dist/leaflet.css";
  import metroManilaCities from "@data/metro-manila.json";
  import metroManilaJson from "@data/metro-manila-info.json";

  const metroManila = metroManilaJson as Record<string, any>;

  const neighborhoodSummary = document.querySelector<HTMLElement>(
    "[data-neighborhood-summary]"
  )!;

  // Create a Leaflet map
  const map = L.map("map").setView([14.5801, 121.0223], 11);

  // Add a TileLayer to the map
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: "&copy; Philippines Administrative Boundaries JSON Maps",
  }).addTo(map);

  let geojson = L.geoJson(metroManilaCities, {
    style: style,
    onEachFeature: onEachFeature,
  }).addTo(map);

  function highlightFeature(e: any) {
    let layer = e.target;

    layer.setStyle({
      weight: 5,
      color: "#666",
      dashArray: "",
      fillOpacity: 0.7,
    });

    layer.bringToFront();
  }

  function resetHighlight(e: any) {
    geojson.resetStyle(e.target);
  }

  function zoomToFeature(e: any) {
    map.fitBounds(e.target.getBounds());
  }

  function onEachFeature(feature: any, layer: any) {
    layer.on({
      mouseover: highlightFeature,
      mouseout: resetHighlight,
      click: (e: any) => {
        neighborhoodSummary.innerHTML = metroManila[feature.properties.ADM3_EN];
        neighborhoodSummary.scrollIntoView({
          behavior: "smooth",
          block: "start",
        });
        zoomToFeature(e);
      },
    });
  }

  function getColor(name: string) {
    switch (name) {
      case "Caloocan":
        return "#ff0000";
      case "Manila":
        return "#ff8000";
      case "Mandaluyong":
        return "#ffff00";
      case "Marikina":
        return "#00ff00";
      case "Makati":
        return "#00ffff";
      case "Malabon":
        return "#0000ff";
      case "Muntinlupa":
        return "#8000ff";
      case "Navotas":
        return "#ff00ff";
      case "Parañaque":
        return "#ff0080";
      case "Pasay":
        return "#ff8000";
      case "Pasig":
        return "#ffff00";
      case "Quezon City":
        return "#00ff00";
      case "San Juan":
        return "#00ffff";
      case "Taguig":
        return "#0000ff";
      case "Valenzuela":
        return "#8000ff";
      case "Las Piñas":
        return "#ff00ff";
      case "Pateros":
        return "#ff0080";
      default:
        return "#000000";
    }
  }

  function style(feature: Record<string, any>) {
    return {
      fillColor: getColor(feature.properties.ADM3_EN),
      weight: 2,
      opacity: 1,
      color: "black",
      dashArray: "3",
      fillOpacity: 0.5,
    };
  }
</script>
