---
import Layout from "@/layouts/layout.astro";
import { Img } from "astro-imagetools/components";
import { getCollection } from "astro:content";

const placesCollection = await getCollection("places");
const tripsCollection = await getCollection("trips");
const foodsCollection = await getCollection("foods-and-drinks");

const foods = foodsCollection.map((food) => {
  return food.data.featuredImage;
});
---

<Layout>
  <!-- Hero Section -->
  <section class="h-screen max-h-[600px] relative">
    <!-- Background Image -->
    <Img src="/images/hero-bg.png" alt="" />

    <!-- Wave -->
    <div class="w-full absolute bottom-0 translate-y-1/2 z-[1]">
      <img
        class="w-full max-h-[180px] object-cover"
        src="/images/wave.svg"
        alt=""
      />
      <h1
        class="w-full text-[#CCE919] text-center absolute top-1/2 -translate-y-1/4 font-alex text-5xl"
      >
        Explore Destinations and Invite Friends & Plan Together
      </h1>
    </div>
  </section>

  <!-- Places to Visit -->
  <section class="relative pt-24">
    <div class="mx-auto container relative overflow-x-hidden">
      <div
        class="bg-[#BFD7EA] h-24 absolute w-[125%] top-0 -translate-y-1/2 left-1/2 -translate-x-1/2 rounded-[50%]"
      >
      </div>
      <div class="flex">
        {
          placesCollection.map((place) => {
            const { title, summary, featuredImage } = place.data;
            return (
              <figure class="w-1/4 p-1">
                <div class="h-96">
                  <Img
                    src={`/images/places/${featuredImage}.png`}
                    alt={title}
                  />
                </div>
                <figcaption class="bg-[#ABC0D1] px-4 py-16">
                  <section class="flex justify-center space-x-4">
                    <div class="flex space-x-2">
                      <img
                        class="w-6 h-6"
                        src="/images/share.svg"
                        alt="Share icon"
                      />
                      <span>300</span>
                    </div>

                    <div class="flex space-x-2">
                      <img
                        class="w-6 h-6"
                        src="/images/heart.svg"
                        alt="Share icon"
                      />
                      <span>128</span>
                    </div>
                  </section>
                  <header class="mt-2">
                    <h3 class="text-center text-lg">{title}</h3>
                  </header>
                  <p>{summary}</p>
                </figcaption>
              </figure>
            );
          })
        }
      </div>
      <div
        class="h-24 rounded-[50%] w-[125%] top-96 left-1/2 -translate-x-1/2 absolute mx-auto bg-[#BFD7EA] -translate-y-1/2"
      >
        <h2
          class="text-center absolute top-1/2 -translate-y-1/2 w-full text-7xl font-alex text-[#264F6E]"
        >
          Places to Visit
        </h2>
      </div>
    </div>
  </section>

  <!-- Event & Festivals Section -->
  <section class="pt-16">
    <header>
      <h1 class="text-7xl font-alex text-[#264F6E] text-center">
        Events and Festivals in <span class="text-white">January</span>
      </h1>
    </header>
    <section class="flex container mx-auto mt-8 px-4 lg:px-8">
      <!-- Left -->
      <section class="flex w-1/2">
        <!-- Left -->
        <div class="flex w-1/2 flex-col">
          <div class="p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
          <div class="mt-48 p-8 border-x border-dashed border-black">
            <header class="space-y-2">
              <h2 class="text-3xl">Feast of the Black Nazarene</h2>
              <h3 class="text-2xl text-end font-alex">Januaruy 9</h3>
            </header>
            <p class="px-4">
              This religious festival honors the statue of the Black Nazarene,
              which is believed to have miraculous powers. Devotees from all
              over the Philippines flock to Quiapo Church to touch or kiss the
              statue
            </p>
          </div>
        </div>

        <!-- Right -->
        <div class="flex w-1/2 flex-col justify-around mt-48">
          <div class="p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
          <div class="mt-72 p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
        </div>
      </section>
      <!-- Right -->
      <section class="flex w-1/2">
        <!-- Left -->
        <div class="flex w-1/2 flex-col">
          <div class="p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
          <figure class="mt-48">
            <div class="p-2">
              <img
                class="w-full object-cover aspect-square rounded-lg"
                src="/images/places/place1.png"
                alt="test"
              />
            </div>
            <figcaption class="p-8 border-x border-dashed border-black">
              <header class="space-y-2">
                <h2 class="text-3xl">Feast of the Black Nazarene</h2>
                <h3 class="text-2xl text-end font-alex">Januaruy 9</h3>
              </header>
              <p class="px-4">
                This religious festival honors the statue of the Black Nazarene,
                which is believed to have miraculous powers. Devotees from all
                over the Philippines flock to Quiapo Church to touch or kiss the
                statue
              </p>
            </figcaption>
          </figure>
        </div>

        <!-- Right -->
        <div class="flex w-1/2 flex-col justify-around mt-48">
          <div class="p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
          <div class="mt-72 p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- TODO: Make the foods and drinks section -->
  <!-- Foods and Drinks Section -->
  <section class="container mx-auto relative mt-16">
    <svg class="w-full" viewBox="0 0 1187 880" fill="none">
      <rect x="96" y="154" width="64" height="66" fill="url(#pattern0)"></rect>
      <rect x="43" y="240" width="93" height="150" fill="url(#pattern1)"></rect>
      <rect x="157" y="239" width="142" height="151" fill="url(#pattern2)"
      ></rect>
      <rect x="186" y="117" width="113" height="103" fill="url(#pattern3)"
      ></rect>
      <rect y="411" width="299" height="169" fill="url(#pattern4)"></rect>
      <rect x="210" y="600" width="89" height="178" fill="url(#pattern5)"
      ></rect>
      <rect x="63" y="598" width="128" height="100" fill="url(#pattern6)"
      ></rect>
      <rect x="317" y="72" width="147" height="108" fill="url(#pattern7)"
      ></rect>
      <rect x="319" y="201" width="145" height="108" fill="url(#pattern8)"
      ></rect>
      <rect x="482" width="122" height="126" fill="url(#pattern9)"></rect>
      <rect x="482" y="141" width="240" height="168" fill="url(#pattern10)"
      ></rect>
      <rect x="622" y="34" width="100" height="92" fill="url(#pattern11)"
      ></rect>
      <rect x="736" y="70" width="88" height="110" fill="url(#pattern12)"
      ></rect>
      <rect x="737" y="201" width="254" height="108" fill="url(#pattern13)"
      ></rect>
      <rect x="841" y="110" width="150" height="70" fill="url(#pattern14)"
      ></rect>
      <rect x="320" y="596" width="189" height="236" fill="url(#pattern15)"
      ></rect>
      <rect x="531" y="603" width="105" height="104" fill="url(#pattern16)"
      ></rect>
      <rect x="530" y="726" width="106" height="154" fill="url(#pattern17)"
      ></rect>
      <rect x="657" y="598" width="222" height="148" fill="url(#pattern18)"
      ></rect>
      <rect x="657" y="766" width="80" height="87" fill="url(#pattern19)"
      ></rect>
      <rect x="758" y="768" width="121" height="85" fill="url(#pattern20)"
      ></rect>
      <rect x="897" y="564" width="114" height="189" fill="url(#pattern21)"
      ></rect>
      <rect x="899" y="442" width="288" height="104" fill="url(#pattern22)"
      ></rect>
      <rect x="1036" y="563" width="99" height="144" fill="url(#pattern23)"
      ></rect>
      <rect x="1011" y="272" width="142" height="146" fill="url(#pattern24)"
      ></rect>
      <rect x="1011" y="171" width="101" height="84" fill="url(#pattern25)"
      ></rect>
      <defs>
        <!-- Looping breaks when I introduce an <image> tag inside <pattern>. This is a workaround. -->
        {
          foodsCollection.map((food) => {
            return (
              <pattern
                id={`pattern1`}
                height="100%"
                width="100%"
                patternContentUnits="objectBoundingBox"
                viewBox="0 0 1 1"
                preserveAspectRatio="xMidYMid slice"
              >
                <image
                  height="1"
                  width="1"
                  preserveAspectRatio="xMidYMid slice"
                  xlink:href={foods[0]}
                />
              </pattern>
            );
          })
        }
      </defs>
    </svg>

    <section
      class="absolute top-1/2 -translate-y-1/2 p-16 mx-auto left-0 right-0"
    >
      <div class="absolute top-0 left-0 w-full h-full z-[-1]">
        <img src="/images/cloud.svg" alt="" class="h-full w-full" />
      </div>
      <article class="w-1/2 mx-auto">
        <header>
          <h1 class="text-[#264F6E] text-7xl font-alex text-center">
            Foods & Drinks
          </h1>
        </header>
        <p>
          Manila's cuisine is a reflection of its rich history and cultural
          diversity, influenced by Spanish, Chinese, Malay, and American
          culinary traditions. The result is a vibrant and flavorful cuisine
          that attracts foodies from around the world. From hearty stews and
          grilled meats to fresh seafood and tropical fruits, Manila has
          something for every palate
        </p>
      </article>
    </section>
  </section>

  <!-- Day Trips Section -->
  <section class="container mx-auto mt-16 px-4 lg:px-8">
    <header class="relative">
      <!-- background -->
      <div class="h-56 rounded-3xl overflow-hidden">
        <Img src="/images/day-trips-bg.png" alt="" />
      </div>
      <h1
        class="shadow-xl w-2/3 mx-auto text-center bottom-0 translate-y-1/2 text-[#264F6E] bg-[#BFD7EA] rounded-3xl absolute py-8 left-0 right-0 text-7xl font-alex"
      >
        Day Trips
      </h1>
    </header>

    <!-- 1st half -->
    <section class="flex mt-28">
      {
        [...tripsCollection].splice(0, 3).map((trip, index) => {
          const { title, summary, featuredImage } = trip.data;
          return (
            <article class={`${index ? "w-1/4" : "w-1/2"}`}>
              <figure class="px-2">
                <div
                  class={`h-64 ${index ? "rounded-t-3xl overflow-hidden" : ""}`}
                >
                  <Img src={featuredImage} alt={title} />
                </div>
                <figcaption class="px-2 w-3/4 mx-auto bg-white relative bottom-10 rounded-t-xl shadow">
                  <header class="border-b border-dashed border-black">
                    <h2 class="text-center font-medium text-xl">Test</h2>
                  </header>
                  <p title={summary} class="p-1 line-clamp-4">
                    {summary}
                  </p>
                </figcaption>
              </figure>
            </article>
          );
        })
      }
    </section>

    <!-- 2nd Half -->
    <section class="flex mt-4">
      {
        [...tripsCollection].splice(3, 3).map((trip, index) => {
          const { title, summary, featuredImage } = trip.data;
          return (
            <article class={`${index < 2 ? "w-1/4" : "w-1/2"}`}>
              <figure class="px-2">
                <div
                  class={`h-64 ${
                    index < 2 ? "rounded-t-3xl overflow-hidden" : ""
                  }`}
                >
                  <Img src={featuredImage} alt={title} />
                </div>
                <figcaption class="px-2 w-3/4 mx-auto bg-white relative bottom-10 rounded-t-xl shadow">
                  <header class="border-b border-dashed border-black">
                    <h2 class="text-center font-medium text-xl">Test</h2>
                  </header>
                  <p title={summary} class="p-1 line-clamp-4">
                    {summary}
                  </p>
                </figcaption>
              </figure>
            </article>
          );
        })
      }
    </section>
  </section>

  <!-- Neighborhoods -->
  <section class="mx-auto container mt-8 px-4 lg:px-8">
    <header>
      <h1 class="text-7xl text-[#264F6E] font-alex">Neighborhoods</h1>
    </header>
    <section class="flex relative">
      <div class="absolute w-full h-full z-[-1]">
        <Img src="/images/neighborhoods-bg.jpg" alt="" />
      </div>
      <section
        class="w-1/2 flex font-bold text-white bg-gray-500 bg-opacity-50"
      >
        <div class="relative">
          <img
            class="w-full h-full object-contain"
            src="/images/map2.png"
            alt="map"
          />

          <div class="absolute top-[6%] left-[55%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Caloocan</p>
          </div>

          <div class="absolute top-[25%] left-[55%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Quezon City</p>
          </div>

          <div class="absolute top-[30%] left-[75%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Marikina</p>
          </div>

          <div class="absolute top-[46%] left-[53%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Mandaluyong</p>
          </div>

          <div class="absolute top-[18%] left-[35%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Valenzuela</p>
          </div>

          <div class="absolute top-[25%] left-[28%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Malabon</p>
          </div>

          <div class="absolute top-[40%] left-[35%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Manila</p>
          </div>

          <div class="absolute top-[51%] left-[46%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Makati</p>
          </div>

          <div class="absolute top-[44%] left-[70%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Pasig</p>
          </div>

          <div class="absolute top-[57%] left-[55%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Taguig</p>
          </div>

          <div class="absolute top-[65%] left-[45%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Paranaque</p>
          </div>

          <div class="absolute top-[75%] left-[37%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Las Pinas</p>
          </div>

          <div class="absolute top-[85%] left-[50%] group">
            <div class="h-4 w-4 bg-black rounded-full"></div>
            <p class="z-[1]">Muntinlupa</p>
          </div>
        </div>
      </section>
      <section class="w-1/2">
        <article class="p-8">
          <p class="bg-[#2B5F8F] p-2 text-white rounded-xl">
            Manila is the capital city of the Philippines and is known for its
            rich history, diverse culture, and vibrant atmosphere. It is a
            bustling metropolis that serves as the economic, political, and
            cultural center of the country. Manila is a city that seamlessly
            blends its colonial past with its modern present, resulting in a
            unique blend of old and new. The city boasts of numerous historical
            landmarks, world-class museums, delicious cuisine, exciting
            nightlife, and beautiful parks. With its friendly people and warm
            climate, Manila is a popular destination for tourists from all over
            the world.
          </p>
          <button
            class="mx-auto block w-fit py-2 px-4 mt-2 bg-[#A426B8] text-white rounded-md"
            >Explore Manila</button
          >
        </article>
      </section>
    </section>
  </section>
</Layout>
