---
import Layout from "@/layouts/layout.astro";
import { Img } from "astro-imagetools/components";
import { getCollection } from "astro:content";

const placesCollection = await getCollection("places");
const tripsCollection = await getCollection("trips");
---

<Layout>
  <!-- Hero Section -->
  <section class="h-screen max-h-[600px] relative">
    <!-- Background Image -->
    <Img src="/images/hero-bg.png" alt="" />

    <!-- Wave -->
    <div class="w-full absolute bottom-0 translate-y-1/2 z-[1]">
      <img
        class="w-full max-h-[180px] object-cover"
        src="/images/wave.svg"
        alt=""
      />
      <h1
        class="w-full text-[#CCE919] text-center absolute top-1/2 -translate-y-1/4 font-alex text-5xl"
      >
        Explore Destinations and Invite Friends & Plan Together
      </h1>
    </div>
  </section>

  <!-- Places to Visit -->
  <section class="relative pt-24">
    <div class="mx-auto container relative">
      <div
        class="bg-[#BFD7EA] h-24 absolute w-[125%] top-0 -translate-y-1/2 left-1/2 -translate-x-1/2 rounded-[50%]"
      >
      </div>
      <div class="flex">
        {
          placesCollection.map((place) => {
            const { title, summary, featuredImage } = place.data;
            return (
              <figure class="w-1/4 p-1">
                <div class="h-96">
                  <Img
                    src={`/images/places/${featuredImage}.png`}
                    alt={title}
                  />
                </div>
                <figcaption class="bg-[#ABC0D1] px-4 py-16">
                  <section class="flex justify-center space-x-4">
                    <div class="flex space-x-2">
                      <img
                        class="w-6 h-6"
                        src="/images/share.svg"
                        alt="Share icon"
                      />
                      <span>300</span>
                    </div>

                    <div class="flex space-x-2">
                      <img
                        class="w-6 h-6"
                        src="/images/heart.svg"
                        alt="Share icon"
                      />
                      <span>128</span>
                    </div>
                  </section>
                  <header class="mt-2">
                    <h3 class="text-center text-lg">{title}</h3>
                  </header>
                  <p>{summary}</p>
                </figcaption>
              </figure>
            );
          })
        }
      </div>
      <div
        class="h-24 rounded-[50%] w-[125%] top-96 left-1/2 -translate-x-1/2 absolute mx-auto bg-[#BFD7EA] -translate-y-1/2"
      >
        <h2
          class="text-center absolute top-1/2 -translate-y-1/2 w-full text-7xl font-alex text-[#264F6E]"
        >
          Places to Visit
        </h2>
      </div>
    </div>
  </section>

  <!-- Event & Festivals Section -->
  <section class="pt-16">
    <header>
      <h1 class="text-7xl font-alex text-[#264F6E] text-center">
        Events and Festivals in <span class="text-white">January</span>
      </h1>
    </header>
    <section class="flex container mx-auto mt-8">
      <!-- Left -->
      <section class="flex w-1/2">
        <!-- Left -->
        <div class="flex w-1/2 flex-col">
          <div class="p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
          <div class="mt-48 p-8 border-x border-dashed border-black">
            <header class="space-y-2">
              <h2 class="text-3xl">Feast of the Black Nazarene</h2>
              <h3 class="text-2xl text-end font-alex">Januaruy 9</h3>
            </header>
            <p class="px-4">
              This religious festival honors the statue of the Black Nazarene,
              which is believed to have miraculous powers. Devotees from all
              over the Philippines flock to Quiapo Church to touch or kiss the
              statue
            </p>
          </div>
        </div>

        <!-- Right -->
        <div class="flex w-1/2 flex-col justify-around mt-48">
          <div class="p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
          <div class="mt-72 p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
        </div>
      </section>
      <!-- Right -->
      <section class="flex w-1/2">
        <!-- Left -->
        <div class="flex w-1/2 flex-col">
          <div class="p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
          <figure class="mt-48">
            <div class="p-2">
              <img
                class="w-full object-cover aspect-square rounded-lg"
                src="/images/places/place1.png"
                alt="test"
              />
            </div>
            <figcaption class="p-8 border-x border-dashed border-black">
              <header class="space-y-2">
                <h2 class="text-3xl">Feast of the Black Nazarene</h2>
                <h3 class="text-2xl text-end font-alex">Januaruy 9</h3>
              </header>
              <p class="px-4">
                This religious festival honors the statue of the Black Nazarene,
                which is believed to have miraculous powers. Devotees from all
                over the Philippines flock to Quiapo Church to touch or kiss the
                statue
              </p>
            </figcaption>
          </figure>
        </div>

        <!-- Right -->
        <div class="flex w-1/2 flex-col justify-around mt-48">
          <div class="p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
          <div class="mt-72 p-2">
            <img
              class="w-full object-cover aspect-square rounded-lg"
              src="/images/places/place1.png"
              alt="test"
            />
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- TODO: Make the foods and drinks section -->

  <!-- Day Trips Section -->
  <section class="container mx-auto mt-16 px-4 lg:px-8">
    <header class="relative">
      <!-- background -->
      <div class="h-56 rounded-3xl overflow-hidden">
        <Img src="/images/day-trips-bg.png" alt="" />
      </div>
      <h1
        class="shadow-xl w-2/3 mx-auto text-center bottom-0 translate-y-1/2 text-[#264F6E] bg-[#BFD7EA] rounded-3xl absolute py-8 left-0 right-0 text-7xl font-alex"
      >
        Day Trips
      </h1>
    </header>

    <!-- 1st half -->
    <section class="flex mt-28">
      {
        [...tripsCollection].splice(0, 3).map((trip, index) => {
          const { title, summary, featuredImage } = trip.data;
          return (
            <article class={`${index ? "w-1/4" : "w-1/2"}`}>
              <figure class="px-2">
                <div
                  class={`h-64 ${index ? "rounded-t-3xl overflow-hidden" : ""}`}
                >
                  <Img src={featuredImage} alt={title} />
                </div>
                <figcaption class="px-2 w-3/4 mx-auto bg-white relative bottom-10 rounded-t-xl shadow">
                  <header class="border-b border-dashed border-black">
                    <h2 class="text-center font-medium text-xl">Test</h2>
                  </header>
                  <p title={summary} class="p-1 line-clamp-4">
                    {summary}
                  </p>
                </figcaption>
              </figure>
            </article>
          );
        })
      }
    </section>

    <!-- 2nd Half -->
    <section class="flex mt-4">
      {
        [...tripsCollection].splice(3, 3).map((trip, index) => {
          const { title, summary, featuredImage } = trip.data;
          return (
            <article class={`${index < 2 ? "w-1/4" : "w-1/2"}`}>
              <figure class="px-2">
                <div
                  class={`h-64 ${
                    index < 2 ? "rounded-t-3xl overflow-hidden" : ""
                  }`}
                >
                  <Img src={featuredImage} alt={title} />
                </div>
                <figcaption class="px-2 w-3/4 mx-auto bg-white relative bottom-10 rounded-t-xl shadow">
                  <header class="border-b border-dashed border-black">
                    <h2 class="text-center font-medium text-xl">Test</h2>
                  </header>
                  <p title={summary} class="p-1 line-clamp-4">
                    {summary}
                  </p>
                </figcaption>
              </figure>
            </article>
          );
        })
      }
    </section>
  </section>
</Layout>
