---
import Layout from "@layouts/layout.astro";
import { Img } from "astro-imagetools/components";
import { getCollection } from "astro:content";

const placesCollection = await getCollection("places");
const tripsCollection = await getCollection("trips");
const eventsCollection = await getCollection("events");
const event1 = eventsCollection[2];
const event2 = eventsCollection[4];
---

<Layout>
  <!-- Hero Section -->
  <section class="h-screen max-h-[600px] relative">
    <!-- Background Image -->
    <Img objectPosition="50% 75%" src="/images/hero-bg.jpg" alt="" />

    <!-- Wave -->
    <div class="w-full absolute bottom-0 translate-y-1/2 z-[1]">
      <div class="top-0 left-0 absolute w-full h-full">
        <img class="w-full h-full object-cover" src="/images/wave.svg" alt="" />
      </div>
      <h1
        class="text-[#CCE919] relative text-center font-alex text-3xl pt-32 pb-24 px-4 lg:px-8 lg:text-5xl lg:pt-24 lg:pb-16"
      >
        Explore Destinations and Invite Friends & Plan Together
      </h1>
    </div>
  </section>

  <!-- Places to Visit -->
  <section id="places-to-visit" class="relative pt-24">
    <div class="mx-auto container relative overflow-x-hidden">
      <div
        class="bg-background h-24 absolute w-[125%] top-0 -translate-y-1/2 left-1/2 -translate-x-1/2 rounded-[50%]"
      >
      </div>
      <ul class="flex snap-x overflow-x-auto">
        {
          placesCollection.map((place) => {
            const { title, summary, featuredImage } = place.data;
            return (
              <li class="snap-center w-full flex-shrink-0 p-1 md:w-1/2 lg:w-1/4">
                <figure>
                  <div class="h-96">
                    <Img src={`${featuredImage}`} alt={title} />
                  </div>
                  <figcaption class="bg-[#ABC0D1] px-4 py-16">
                    <section class="flex justify-center space-x-4">
                      <div class="flex space-x-2">
                        <img
                          class="w-6 h-6"
                          src="/images/share.svg"
                          alt="Share icon"
                        />
                        <span>300</span>
                      </div>

                      <div class="flex space-x-2">
                        <img
                          class="w-6 h-6"
                          src="/images/heart.svg"
                          alt="Share icon"
                        />
                        <span>128</span>
                      </div>
                    </section>
                    <header class="mt-2">
                      <h3 class="text-center text-xl font-medium">{title}</h3>
                    </header>
                    <p class="line-clamp-4 text-gray-900">{summary}</p>
                    <a
                      href={`/places-to-visit/${place.slug}`}
                      class="px-4 py-1 bg-blue-500 text-white rounded-md mx-auto block w-fit mt-4"
                    >
                      Read More
                    </a>
                  </figcaption>
                </figure>
              </li>
            );
          })
        }
      </ul>
      <div
        class="h-24 rounded-[50%] w-[125%] top-96 left-1/2 -translate-x-1/2 absolute mx-auto bg-background -translate-y-1/2"
      >
        <h2
          class="text-center absolute top-1/2 -translate-y-1/2 w-full font-alex text-[#264F6E] text-5xl md:text-6xl lg:text-7xl"
        >
          Places to Visit
        </h2>
      </div>
    </div>
  </section>

  <!-- Event & Festivals Section -->
  <section id="events-and-festivals" class="pt-16">
    <header>
      <h1 class="font-alex text-[#264F6E] text-5xl text-center lg:text-7xl">
        Events and Festivals in <span class="text-white">January</span>
      </h1>
    </header>
    <section class="flex flex-wrap container mx-auto mt-8 px-4 lg:px-8">
      <!-- Left -->
      <section class="flex w-full lg:w-1/2">
        <!-- Left -->
        <div class="flex flex-col md:w-1/2">
          <div class="p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img src={event1.data.images[0]} alt="test" />
              </div>
            </div>
          </div>
          <div class="p-8 border-x border-dashed border-black md:mt-48">
            <header class="space-y-2">
              <h2 class="text-3xl">{event1.data.title}</h2>
              <p class="text-2xl text-end font-alex">
                {
                  new Intl.DateTimeFormat("en", { dateStyle: "medium" }).format(
                    event1.data.date
                  )
                }
              </p>
            </header>
            <p class="line-clamp-6">
              {event1.data.summary}
            </p>
          </div>
        </div>
        <!-- Right -->
        <div class="w-1/2 flex-col justify-around mt-48 hidden md:flex">
          <div class="p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img src={event1.data.images[1]} alt="test" />
              </div>
            </div>
          </div>
          <div class="mt-72 p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img src={event1.data.images[2]} alt="test" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Right -->
      <section class="flex w-full lg:w-1/2">
        <!-- Left -->
        <div class="flex flex-col md:w-1/2">
          <div class="p-2 hidden md:block">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img src={event2.data.images[0]} alt="test" />
              </div>
            </div>
          </div>
          <figure class="md:mt-48">
            <div class="p-2">
              <div class="pb-[100%] relative overflow-hidden rounded-lg">
                <div class="absolute top-0 w-full h-full">
                  <Img src={event2.data.images[1]} alt="test" />
                </div>
              </div>
            </div>
            <figcaption class="p-8 border-x border-dashed border-black">
              <header class="space-y-2">
                <h2 class="text-3xl">{event2.data.title}</h2>
                <p class="text-2xl text-end font-alex">
                  {
                    new Intl.DateTimeFormat("en", {
                      dateStyle: "medium",
                    }).format(event2.data.date)
                  }
                </p>
              </header>
              <p class="line-clamp-6">
                {event2.data.summary}
              </p>
            </figcaption>
          </figure>
        </div>

        <!-- Right -->
        <div class="w-1/2 flex-col justify-around mt-48 hidden md:flex">
          <div class="p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img src={event2.data.images[2]} alt="test" />
              </div>
            </div>
          </div>
          <div class="mt-72 p-2">
            <div class="pb-[100%] relative overflow-hidden rounded-lg">
              <div class="absolute top-0 w-full h-full">
                <Img src={event2.data.images[3]} alt="test" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>

  <!-- TODO: Make the foods and drinks section -->

  <!-- Day Trips Section -->
  <section id="day-trips" class="container mx-auto mt-16">
    <header class="relative lg:px-8">
      <!-- background -->
      <div class="h-56 overflow-hidden lg:rounded-3xl">
        <Img src="/images/day-trips-bg.png" alt="" />
      </div>
      <h1
        class="shadow-xl w-2/3 mx-auto text-center bottom-0 translate-y-1/2 text-[#264F6E] bg-[#BFD7EA] rounded-3xl absolute py-8 left-0 right-0 font-alex text-5xl lg:text-7xl"
      >
        Day Trips
      </h1>
    </header>

    <!-- 1st half -->
    <section class="flex flex-wrap mt-28 px-4 lg:px-8">
      {
        [...tripsCollection].splice(0, 6).map((trip, index) => {
          const { title, summary, featuredImage } = trip.data;
          return (
            <article
              class={`w-full ${
                index % 6 === 0 || index % 6 === 5
                  ? "lg:w-1/2"
                  : "md:w-1/2 lg:w-1/4"
              }`}
            >
              <figure class="px-2">
                <div
                  class={`h-64 ${
                    index % 6 === 0 || index % 6 === 5
                      ? ""
                      : "overflow-hidden md:rounded-t-3xl"
                  }`}
                >
                  <Img src={featuredImage} alt={title} />
                </div>
                <figcaption class="px-2 w-3/4 mx-auto bg-white relative bottom-10 rounded-t-xl shadow">
                  <header class="border-b border-dashed border-black">
                    <h2
                      title={title}
                      class="text-center font-medium text-xl line-clamp-1"
                    >
                      {title}
                    </h2>
                  </header>
                  <p title={summary} class="p-1 line-clamp-4">
                    {summary}
                  </p>
                </figcaption>
              </figure>
            </article>
          );
        })
      }
    </section>
  </section>

  <!-- Neighborhoods -->
  <section id="neighborhoods" class="mx-auto container mt-8 px-4 lg:px-8">
    <header>
      <h1 class="text-7xl text-[#264F6E] font-alex">Neighborhoods</h1>
    </header>
    <section class="flex flex-row-reverse relative flex-wrap">
      <div class="absolute w-full h-full z-[-1]">
        <Img src="/images/neighborhoods-bg.jpg" alt="" />
      </div>

      <section class="w-full md:w-1/2">
        <article class="p-8">
          <p class="bg-[#2B5F8F] p-2 text-white rounded-xl">
            Manila is the capital city of the Philippines and is known for its
            rich history, diverse culture, and vibrant atmosphere. It is a
            bustling metropolis that serves as the economic, political, and
            cultural center of the country. Manila is a city that seamlessly
            blends its colonial past with its modern present, resulting in a
            unique blend of old and new. The city boasts of numerous historical
            landmarks, world-class museums, delicious cuisine, exciting
            nightlife, and beautiful parks. With its friendly people and warm
            climate, Manila is a popular destination for tourists from all over
            the world.
          </p>
          <button
            class="mx-auto block w-fit py-2 px-4 mt-2 bg-[#A426B8] text-white rounded-md"
          >
            Explore Manila
          </button>
        </article>
      </section>
      <section
        class="flex font-bold text-white bg-gray-500 bg-opacity-50 w-full md:w-1/2"
      >
        <div class="relative pb-[125%] border w-full">
          <div id="map" class="absolute w-full h-full"></div>
        </div>
      </section>
    </section>
  </section>

  <script>
    import L from "leaflet";
    import "leaflet/dist/leaflet.css";
    import metroManilaCities from "@data/metro-manila.json";

    // Create a Leaflet map
    const map = L.map("map").setView([14.5801, 121.0223], 11);

    // Add a TileLayer to the map
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: "&copy; Philippines Administrative Boundaries JSON Maps",
    }).addTo(map);

    let geojson = L.geoJson(metroManilaCities, {
      style: style,
      onEachFeature: onEachFeature,
    }).addTo(map);

    function highlightFeature(e: any) {
      let layer = e.target;

      layer.setStyle({
        weight: 5,
        color: "#666",
        dashArray: "",
        fillOpacity: 0.7,
      });

      layer.bringToFront();
    }

    function resetHighlight(e: any) {
      geojson.resetStyle(e.target);
    }

    function zoomToFeature(e: any) {
      map.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature: any, layer: any) {
      layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature,
      });
    }

    function getColor(name: string) {
      switch (name) {
        case "Caloocan":
          return "#ff0000";
        case "Manila":
          return "#ff8000";
        case "Mandaluyong":
          return "#ffff00";
        case "Marikina":
          return "#00ff00";
        case "Makati":
          return "#00ffff";
        case "Malabon":
          return "#0000ff";
        case "Muntinlupa":
          return "#8000ff";
        case "Navotas":
          return "#ff00ff";
        case "Parañaque":
          return "#ff0080";
        case "Pasay":
          return "#ff8000";
        case "Pasig":
          return "#ffff00";
        case "Quezon City":
          return "#00ff00";
        case "San Juan":
          return "#00ffff";
        case "Taguig":
          return "#0000ff";
        case "Valenzuela":
          return "#8000ff";
        case "Las Piñas":
          return "#ff00ff";
        case "Pateros":
          return "#ff0080";
        default:
          return "#000000";
      }
    }

    function style(feature: Record<string, any>) {
      return {
        fillColor: getColor(feature.properties.ADM3_EN),
        weight: 2,
        opacity: 1,
        color: "black",
        dashArray: "3",
        fillOpacity: 0.5,
      };
    }
  </script>
</Layout>
